$content-content-primary: #215bed;
$content-content-white: #ffffff;
$content-content-disabled: #59667f;
$content-content-success: #44d600;
$content-content-error: #ff1a43;
$content-content-warning: #ffa31a;
$content-content-info: #33c2ff;
$content-content-text: #6e759f;
$button-button-secondary: #6e759f;
$lightbloom-150: #6e759f;

$border-radius-button: 6px;
$border-radius-table: 10px;
$padding: 24px;
